body {
    box-sizing: border-box;
    background: #FCFCFF;
    margin: 0;
}

.navBar {
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    width: 100vw;
    background: rgba($color: #fcfcff, $alpha: 0.8);

    @media only screen and (min-width: 680px) {
        padding: 1.3em 5em;
    }
    @media only screen and (min-width: 1024px) {
        padding: 1.4em 8em;
    }
    @media only screen and (min-width: 2560px) {
        padding: 3em 15em;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo {
            width: 75px;
            height: auto;
            @media only screen and (min-width: 2560px) {
                width: 150px;
                height: auto;
            }
        }

        nav {
            display: none;
            @media only screen and (min-width: 680px) {
                display: flex;
                background: none;
            }
        }
    }
}

//hamburger menu starts
#mobileCTA {
    width: 25px;
    height: 22px;
    position: fixed;
    right: 1.5em;
    z-index: 1000;
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    @media only screen and (min-width: 680px) {
        display: none;
    }
  }
  
  #mobileCTA span {
    display: block;
    position: absolute;
    height: 0.15em;
    width: 100%;
    background: #292929;
    border-radius: 9px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #mobileCTA span:nth-child(1) {
    top: 0px;
  }
  
  #mobileCTA span:nth-child(2) {
    top: 6.5px;
  }
  
  #mobileCTA span:nth-child(3) {
    top: 13px;
  }
  
  #mobileCTA.open span:nth-child(1) {
    top: 6.5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #mobileCTA.open span:nth-child(2) {
    opacity: 0;
  }
  
  #mobileCTA.open span:nth-child(3) {
    top: 6.5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
//hamburger menu ends


nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background: #fdf5c0;
    padding: 2em;

    @media only screen and (min-width: 680px) {
        height: 70px;
        width: 50%;
    }
    

    ul.primaryNav {
        margin: 6em 0 0 1.3em;
        @media only screen and (min-width: 680px) {
            display: flex;
            position: fixed;
            right: 0;
            padding: 0;
            margin: 0 5em 0 0;
        }
        @media only screen and (min-width: 1024px) {
            margin: 0 8em 0 0;
        }
        @media only screen and (min-width: 2560px) {
            margin: 0 15em 0 0;
        }
    }

    li {
        font-family: 'Rubik', sans-serif;
        list-style-type: none;
        display: block;
        margin-bottom: 2em;
        font-size: 1.2em;
        text-align: center;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
                text-decoration-style: dotted;
                color: #808080;
            }
        }


        @media only screen and (min-width: 680px) {
            display: flex;
            padding: 0;
            margin-left: 2.2em;
            font-size: 0.8em;
        }
        @media only screen and (min-width: 1024px) {
            display: flex;
            padding: 0;
            margin-left: 2.5em;
            font-size: 1em;
        }
        @media only screen and (min-width: 2560px) {
            display: flex;
            padding-top: 1em;
            margin-left: 3em;
            font-size: 2em;
        }
        
    }
}

#hero {
    .container {
        display: flex;
        flex-direction: column;
        padding: 0 1.8em;
        margin: 7.5em 0 6em 0;

        @media only screen and (min-width: 680px) {
            padding: 5em 5em;
            margin: 5em 0;
        }
        @media only screen and (min-width: 1024px) {
            padding: 5em 8em;
            margin: 6em 0;
        }
        @media only screen and (min-width: 2560px) {
            padding: 15em 15em;
            margin: 6em 0;
        }

        .mobileMemoji {
            float: left;
            width: 150px;
            height: auto;
            margin-left: -2.5em;
            @media only screen and (min-width: 680px) {
                width: 200px;
                height: auto;
                margin-left: -2.8em;
                padding-top: 1.8em;
            }
            @media only screen and (min-width: 2560px) {
                width: 350px;
                height: auto;
                margin-left: -4.5em;
            }
        }

        .heroText {
            display: inline-block;
            padding-bottom: 6em;
            max-width: 450px;
            font-family: 'Playfair Display', serif;

            @media only screen and (min-width: 500px) {
                max-width: 600px;
            }
            @media only screen and (min-width: 1024px) {
                max-width: 800px;
            }
            @media only screen and (min-width: 2560px) {
                max-width: 1500px;
            }


            h1 {
                margin: 0.8em 0 0 0; 
                font-weight: bolder;
                font-size: 1.3em;
                @media only screen and (min-width: 500px) {
                    margin: 1em 0 0 0;
                    font-size: 2.2em;
                }
                @media only screen and (min-width: 1024px) {
                    margin: 0.8em 0 0 0;
                    font-size: 2.7em;
                }
                @media only screen and (min-width: 2560px) {
                    margin: 1em 0 0 0;
                    font-size: 4.5em;
                }
            }

            h2 {
                display: inline-block;
                word-wrap: wrap;
                max-width: 380px;
                margin: 1em 0 0 0;
                font-weight: lighter;
                font-size: 0.9em;
                line-height: 1.8em;
                color: #3a3a3a;
                @media only screen and (min-width: 500px) {
                    max-width: 650px;
                    margin: 0.6em 0 0 0;
                    line-height: 1.6em;
                    font-size: 1.4em;
                }
                @media only screen and (min-width: 1024px) {
                    max-width: 700px;
                    margin: 0.6em 0 0 0;
                    line-height: 1.8em;
                    font-size: 1.7em;
                }
                @media (min-width: 2560px) {
                    max-width: 1300px;
                    margin: 0.6em 0 0 0;
                    line-height: 2em;
                    font-size: 3em;
                }
            }
        }


        .scroll {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #c4c4c4;
            font-family: 'Rubik', sans-serif;
            font-size: 0.5em;
            padding: 0;
            margin-top: -3em;
            cursor: pointer;

            @media only screen and (min-width: 500px) {
                font-size: 0.8em;
                margin-top: 0.7em;
                margin-bottom: -3em;
            }

            @media only screen and (min-width: 2560px) {
                font-size: 1.7em;
                margin-top: 0.7em;
                margin-bottom: -3em;
            }
            
            .mobileArrow {
                margin-top: -0.2em;
                width: 11px;
                padding: 0;

                @media only screen and (min-width: 500px) {
                    width: 15px;
                }
                @media only screen and (min-width: 2560px) {
                    width: 30px;
                }
            }
        }
    }
}

//mouseover text starts

span {
    z-index: 5;
}

#travalert span {
    display:none;

    .title {
        font-size: 1.2em;
        font-weight: 900;
      }
      
      .detail {
        font-size: 0.8em;
        font-weight: 300;
        line-height: 1.5em;
      }
      
      .textbox {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        justify-content: center;
        align-content: center;
        font-family: 'Rubik', sans-serif;
    }
}

#travalert:hover span {
    display:block;
    width: 14em;
    position:fixed;
    overflow:hidden;
    transition: ease 0.15s;
}

#csa span {
    display:none;

    .title {
        font-size: 1.2em;
        font-weight: 900;
      }
      
      .detail {
        font-size: 0.8em;
        font-weight: 300;
        line-height: 1.5em;
      }
      
      .textbox {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        justify-content: center;
        align-content: center;
        font-family: 'Rubik', sans-serif;
    }
}

#csa:hover span {
    display:block;
    width: 16em;
    position:fixed;
    overflow:hidden;
    transition: ease 0.15s;
}

#oneforall span {
    display:none;

    .title {
        font-size: 1.2em;
        font-weight: 900;
      }
      
      .detail {
        font-size: 0.8em;
        font-weight: 300;
        line-height: 1.5em;
      }
      
      .textbox {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        justify-content: center;
        align-content: center;
        font-family: 'Rubik', sans-serif;
    }
}

#oneforall:hover span {
    display:block;
    width: 20em;
    position:fixed;
    overflow:hidden;
    transition: ease 0.15s;

    .detail {
        width: 19em;
    }
}

#pact span {
    display:none;

    .title {
        font-size: 1.2em;
        font-weight: 900;
      }
      
      .detail {
        font-size: 0.8em;
        font-weight: 300;
        line-height: 1.5em;
      }
      
      .textbox {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        justify-content: center;
        align-content: center;
        font-family: 'Rubik', sans-serif;
    }
}

#pact:hover span {
    display:block;
    width: 16em;
    position:fixed;
    overflow:hidden;
    transition: ease 0.15s;
}
//mouseover text ends


#travalert {
    grid-area: travalert;
    background-image: url("../images/TravAlert.png");
    background-color: #F6F6F6;
    border-radius: 6px;

    &:hover {
        background-image: url("../images/TravAlert-h.png");
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }
}

#csa {
    grid-area: csa;
    background-image: url("../images/CSA.png");
    background-color: #DDDFE2;
    border-radius: 6px;

    &:hover {
        background-image: url("../images/CSA-h.png");
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }
}

#oneforall {
    grid-area: oneforall;
    background-image: url("../images/OneforAll.png");
    background-color: #EAF1E5;
    border-radius: 6px;

    &:hover {
        background-image: url("../images/OneforAll-h.png");
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }
}

#pact {
    grid-area: pact;
    background-image: url("../images/PACT.png");background-color: #D8DEE2;
    border-radius: 6px;

    &:hover {
        background-image: url("../images/PACT-h.png");
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }
}

.workGridArea {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
}

#workGrid {
    .container {
    margin: 0;
    padding: 0 1.5em;
    display: grid;
    row-gap: 0.6em;
    grid-template-rows: repeat(4, 15em);
    grid-template-areas:
    "travalert"
    "csa"
    "pact"
    "oneforall";

    @media only screen and (min-width: 680px) {
        padding: 0 5em;
        gap: 0.6em;
        grid-template-rows: repeat(2, 20em);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "travalert csa"
        "oneforall pact";
    }

    @media only screen and (min-width: 1024px) {
        padding: 0 8em;
        gap: 0.8em;
        grid-template-rows: repeat(2, 21em);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "travalert csa"
        "oneforall pact";
    }

    @media only screen and (min-width: 2560px) {
        padding: 0 15em;
        gap: 1.5em;
        grid-template-rows: repeat(2, 43em);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "travalert csa"
        "oneforall pact";
    }
    }
}


#footer {
    padding: 0 1.5em;
    margin: 7em 0 0 0;
    @media only screen and (min-width: 680px) {
        padding: 0 5em;
    }
    @media only screen and (min-width: 1024px) {
        padding: 0 8em;
    }
    @media only screen and (min-width: 2560px) {
        padding: 0 15em;
        margin: 12em 0 0 0;
    }

    .container {
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border-top: 0.5px solid #dadada;
        font-family: 'Rubik', sans-serif;

        @media only screen and (min-width: 680px) {
            margin: 0;
            padding: 2.6em 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @media only screen and (min-width: 2560px) {
            margin: 0;
            padding: 4.5em 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .contact {
        list-style-type: none;
        margin: 0;
        padding: 0 0 2em 0;
        @media only screen and (min-width: 680px) {
            display: flex;
            margin: 0;
            padding: 0;
        }
    }

    .copyRight {
        color: #c4c4c4;
        font-size: 0.6em;
        @media only screen and (min-width: 680px) {
            font-size: 0.8em;
        }
        @media only screen and (min-width: 2560px) {
            font-size: 1.8em;
        }
        
    }

    .contact li {
        display: flex;
        justify-content: center;
        padding-top: 1.5em;
        font-size: 0.8em;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
            color: #808080;
        }            
        

        @media only screen and (min-width: 680px) {
            display: flex;
            padding: 0;
            margin-left: 2.2em;
            font-size: 0.8em;
        }
        @media only screen and (min-width: 1024px) {
            display: flex;
            padding: 0;
            margin-left: 2.5em;
            font-size: 1em;
        }
        @media only screen and (min-width: 2560px) {
            display: flex;
            padding: 0;
            margin-left: 3em;
            font-size: 2em;
        }
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
            color: #808080;
        }
    }
}

//about page
#aboutMe {
    .container {
        margin: 5em 1.5em;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        @media only screen and (min-width: 680px) {
            padding: 5em 5em;
            margin: 1em 0;
            gap: 1em;
            align-items: center;
            flex-direction: column;
        }
        @media only screen and (min-width: 1024px) {
            padding: 5em 8em;
            margin: 5em 0;
            gap: 5em;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row;
        }
        @media only screen and (min-width: 2560px) {
            padding: 15em 15em;
            gap: 7em;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row;
        }
    }    
}

.photo {
    float: left;
}

#myPhoto {
    max-height: 23em;
    border-radius: 6px;

    @media only screen and (min-width: 1024px) {
        max-height: 26em;
    }

    @media only screen and (min-width: 2560px) {
        max-height: 52em;
    }
}

#meText {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    
    @media only screen and (min-width: 1024px) {
        margin-top: -2.2em;
    }
    
}

.jay {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 0 0;
    padding: 0;
    gap: 1.1em;
    @media only screen and (min-width: 680px) {
        margin: 0;
    }

    #handEmoji {
        width: 32px;
        height: 34px;

        @media only screen and (min-width: 2560px) {
            width: 50px;
            height: 52px;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 1.5em;

        @media only screen and (min-width: 680px) {
            font-size: 2em;
        }

        @media only screen and (min-width: 2560px) {
            font-size: 2.5em;
        }

    }   
}

p.about {
    display: block;
    overflow-wrap: wrap;
    width: auto;
    color: #878787;
    font-weight: 300;
    line-height: 1.8em;
    font-size: 1.1em;
    margin: 0.5em 0 0 0;
    
    @media only screen and (min-width: 680px) {
        font-size: 1.15em;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 1.15em;
    }

    @media only screen and (min-width: 2560px) {
        font-size: 1.3em;
    }

    span {
        text-decoration: underline;
        color: black;
        cursor: pointer;
    }

}





